# Python cache
*.pyc

# OS X temporary metadata
._*
*.DS_Store

# Wiki page
wiki/

# Results
output/
voxel/
.idea
.vscode
venv
uploads/**
!uploads/empty
voxel/**
!voxel/empty
imgs/test*
/client/public/prediction.obj
/config/
/prediction.obj
